<section class="adminPanel">
    <iframe width="100%" height="100%" title="JK Beauty rook Tmi - Google
        analytics"
        src="https://jk-beauty-room.herokuapp.com/"></iframe>
</section>
<!-- https://www.jkbeautyroom.fi -->