<h4>JK Beauty Room Tmi</h4>
<p>Y-tunnus: <strong>3007079-8</strong></p>
<address>Malminkartano</address>
<address>Tuohiaukio 4, 00410 Helsinki</address>
<p><a href="mailto:jkroombeauty@gmail.com">email: jkroombeauty@gmail.com</a></p>
<p><a href="tel:0407687948">puh: 040 7687948</a></p>