<footer class="footer">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-4">
                {{> contactInfo}}
            </div>
            <div class="col-md-4">
                <h4>Aukioloajat:</h4>
                <p>ma-pe: 10-18</p>
                <p>la: Soipmuksen mukaan</p>
                <p>su: suljettu</p>
            </div>
            <div class="col-md-4">
                <h4>Seuraa meitä</h4>
                <div class="iconContainer">
                    <a
                        href="https://www.facebook.com/JK-Beauty-Room-100208232280452">
                        <img src="/images/facebook-icon.svg" alt="JK Beauty Room
                            - Facebook sivu" />
                    </a>
                    <a class="mx-3" href="https://www.instagram.com/jkbeautyroom_helsinki/">
                        <img src="/images/instagram-icon.svg" alt="JK Beauty
                            Room - Instagram sivu" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>JK Beauty Room ©2021. All Rights Reserved.</p>
            </div>
            <div class="col-md-4">
                <p>Made with <span class="footer--heart">&#10084;</span> by <a
                        href="https://devdesign.fi">DevDesign</a>.</p>
            </div>
        </div>
    </div>
</footer>
