<footer class="footer">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-4">
                {{> contactInfo}}
            </div>
            <div class="col-md-4">
                <h4>Aukioloajat:</h4>
                <p>ma-pe: 10-18</p>
                <p>la: Soipmuksen mukaan</p>
                <p>su: suljettu</p>
            </div>
            <div class="col-md-4">
                <h4>Seuraa meitä</h4>
                <div class="iconContainer">
                    <a
                        href="https://www.facebook.com/JK-Beauty-Room-100208232280452">
                    </a>
                    <a href="https://www.instagram.com/jkbeautyroom_helsinki/">
                    </a>
                </div>
                <p>
                    JK Beauty Room ©2021. All Rights Reserved.
                    <br /> Made with &#10084; by <a href="https://devdesign.fi">DevDesign</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
