<aside class="phoneNumber">
    <a
        href="https://www.facebook.com/JK-Beauty-Room-100208232280452">
        <img src="/images/facebook-icon.svg" alt="JK Beauty Room
            - Facebook sivu" />
    </a>
    <a class="mx-3" href="https://www.instagram.com/jkbeautyroom_helsinki/">
        <img src="/images/instagram-icon.svg" alt="JK Beauty
            Room - Instagram sivu" />
    </a>
    <a class="phoneNumber--phone" href="tel:0407687948">
        <img class="phoneNumber--icon" src="/images/phone.svg" alt="JK Beauty
            Room - Puhelinnumero" title="Soita" /></a>
</aside>