<aside class="phoneNumber">
    <a class="phoneNumber--phone" href="tel:0407687948">
        <img class="phoneNumber--icon" src="/images/phone.svg" alt="JK Beauty
            Room - Puhelinnumero" title="Soita" /></a>
</aside>