<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-center mt-5">
            <div class="col-md-6 col-sm-12">
                <h1>Kirjaudu hallintapaneeliin</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-center mt-3">
            <div class="col-md-6">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label class="form-label" for="email">Email *</label>
                        <input type="email" id="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Salasana *</label>
                        <input type="password" id="password" name="password" class="form-control" />
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
