<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-center mt-5">
            <div class="col-md-6 col-sm-12">
                <h1>Liity Adminiksi</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-center mt-3">
            <div class="col-md-6 col-sm-12">
                <form action="/signup" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="form-label" for="username">Username *</label>
                        <input type="text" id="username" name="username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Email *</label>
                        <input type="email" id="email" name="email" class="form-control" />
                    </div>
                    <div class="form-gruop">
                        <label class="form-label" for="image">Profiilikuva *</label>
                        <input class="form-control" id="image" name="image" type="file" required />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Salasana *</label>
                        <input type="password" id="password" name="password" class="form-control" />
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>