$white: #ffffff;
$grayDark: #121212;
$grayLight: #f6f7f9;
$black: #000000;
$darkseablue: #252f3e;
$darkslateGray: #1c2330;

$gradientGray: linear-gradient(to bottom, $darkslateGray 0, $darkseablue 100%);