* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: $robotoSlabFont;
}
main {
	position: relative;
	min-height: 80vh;
	width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
	color: $cgblue;
}
a {
	color: $cgblue;
	text-decoration: none;
	font-weight: 600;
}
.mainContent {
	padding: 2rem;
}
