.footer {
    border-top: 4px solid $lightseagreen;
    background-image: $cgBlueToBottomFooter, url('/images/pink-side-blurred.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    &--heart {
        color: firebrick;
    }
    h4 {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3.2rem;
    }
    li,
    p,
    address,
    strong {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.571rem;
        font-family: $bodyFont;
    }
}
