.navbar {
	padding: 0 2rem;
	height: 5rem;
	background-color: $cgblue;
	a {
		color: $gray300;
		text-decoration: none;
	}
	.navbar-toggler {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navbar-collapse-open {
		position: absolute;
		padding: 2rem;
		width: 80%;
		top: 104px;
		right: 44px;
		background-color: $cgblue;
		border: $grayBorder;
		border-radius: 8px;
		z-index: 100;
		box-shadow: $softShadow;
	}
	@media screen and (min-width: 992px) {
		//do Smth
		.navbar-toggler {
			display: none;
		}
	}
}
