.hero {
    color: $smoke;
    height: auto;
    border-bottom: 4px solid $lightseagreen;
    &--container {
        height: inherit;
        background-image: $cgBlueToBottom, url('/images/pink-side-blurred.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.8;
        padding: 1rem 0.5rem;
        &--item {
            font-family: $heroAdsFont;
            background: $lightseagreen;
            text-align: center;
            border-radius: 5px;
            height: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__title {
                height: 3.75rem;
            }
        }
    }
    @media screen and (min-width: 992px) {
        //do Smth
        height: 12.375rem;
        background-image: $cgBlueToBottom, url('/images/pink-side-blurred.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
