html,
body {
    height: 100%;
}
/** Sticky footer */
.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -24.75rem;
}

.footer,
.push {
    height: auto;
}

.mainContent {
    position: relative;
    &__blue {
        background-image: rgba($white, 0.7), url('/images/lightblue-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &--row {
        border-radius: 5px;
        &--content {
            color: $teal;
            p {
                color: $darkslategray;
                font-weight: 600;
                font-size: 1.25rem;
            }
        }
    }
}
