html,
body {
    height: 100%;
}
/** Sticky footer */
.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -24.75rem;
}

.footer,
.push {
    height: auto;
}

.mainContent {
    position: relative;
    &--row {
        border-radius: 5px;
        &__blue {
            background-image: url('/images/lightblue-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &--content {
            color: $teal;
            p {
                color: $darkslategray;
                font-weight: 600;
                font-size: 1.35rem;
            }
        }
    }
    &--card {
        position: relative;
        z-index: 5;
        &--bluesplash {
            position: absolute;
            width: 18.875rem;
            height: 18.875rem;
            z-index: 0;
            filter: blur(25px);
            top: 50%;
            left: 36%;
        }
        &--pinksplash {
            position: absolute;
            z-index: 0;
            filter: blur(25px);
            top: 31.5%;
            left: 7%;
        }
        &--pinkbrick {
            position: absolute;
            z-index: 0;
            filter: blur(25px);
            border-radius: 50px;
            top: 23%;
            left: 63%;
        }
    }
}

@media screen and (min-width: 992px) {
    .footer,
    .push {
        height: 24.75rem;
    }
}
