.list-group {
    &--item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        &--name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &--text {
                font-size: 1.2rem;
                line-height: 1rem;
            }
        }
        &--price {
            background-color: $lightseagreen;
            color: $white;
            padding: 0.5rem 1rem;
            border-radius: 50%;
            font-size: 1.2rem;
            &__discount {
                background-color: $darkorange;
                color: $white;
                padding: 0.5rem 1rem;
                border-radius: 50%;
                font-size: 1.2rem;
                .normalPrice {
                    text-decoration: line-through;
                }
            }
        }
    }
}
