.navbar {
    height: 7rem;
    background-color: $white;
    &--toggle {
        position: relative;
        z-index: 10;
        top: 0rem;
    }
    &--brand {
        width: 6.5rem;
        height: 6.5rem;
        &--img {
            width: 100%;
            height: 100%;
        }
    }
    &--item {
        font-family: $mainFont;
        &--link {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.938rem;
            color: $black !important;
        }
    }
    #navbarMenu {
        z-index: 12;
        width: 100%;
        background-color: rgba($white, 0.7);
        justify-content: center;
    }
    @media screen and (min-width: 992px) {
        //do Smth
        height: 7.5rem;
        padding: 1.5rem 1.063rem;
        background-color: $white;
        &--brand {
            position: relative;
            width: 11.25rem;
            height: 11.25rem;
            top: 1.8rem;
            &--img {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 10;
            }
        }
        #navbarMenu {
            display: flex;
            justify-content: flex-end;
        }
    }
}
