.navbar {
    height: 5rem;
    background-color: $white;
    &--toggle {
        position: relative;
        z-index: 10;
        top: 1rem;
    }
    &--brand {
        position: relative;
        width: 8rem;
        height: 8rem;
        top: 0.2rem;
        &--img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }
    &--item {
        font-family: $mainFont;
        &--link {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.938rem;
            color: $black !important;
        }
    }
    #menu-bar {
        z-index: 12;
        width: 100%;
        display: none;
        top: orem;
        background-color: $white;
    }
    @media screen and (min-width: 992px) {
    //do Smth
    height: 7.5rem;
    padding: 1.5rem 1.063rem;
    background-color: $white;
    &--brand {
        position: relative;
        width: 11.25rem;
        height: 11.25rem;
        top: 1.8rem;
        &--img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }
  }
}
